/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:ital@0;1&display=swap');

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

/* Container Styles */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #333;
    padding: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px;
    transition: background-color 0.3s;
}

/* Specific styling for the "My Skills" link */
.sidebar nav a[href="/skills.html"] {
    background-color: #394b52;
}

.sidebar nav a:hover {
    background-color: #394b52;
}

/* Content Styles */
.main {
    flex: 1;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

/* Skills Section Styles */
.section-title {
    color: #fff;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    width: 100%;
    margin-bottom: 20px;
}

.skill h3 {
    color: #fff;
    margin-bottom: 10px;
}

.skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
}

.skill-level {
    height: 100%;
    border-radius: 8px;
    background-color: #242924;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #35424a;
    color: #fff;
}

/* Social Icons Styles */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #4c6ca4;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}
