/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:ital@0;1&display=swap');

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #1f1d1d;
    color: #fff;
}

/* Container Styles */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav {
    width: 100%;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav a {
    text-decoration: none;
    color: #faf0f0;
    padding: 15px;
    display: block;
    transition: background-color 0.3s;
}

/* Specific styling for the "About Me" link */
.sidebar nav a[href="/aboutme.html"] {
    background-color: #394b52;
}

.sidebar nav a:hover {
    background-color: #394b52;
}

/* Main Content Styles */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.infoContainer {
    margin-left: 162px;
    width: 80%;
    max-width: 1200px;
}

.devInfo {
    margin-left: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hello {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.moreabout {
    height: auto; /* Set height to auto */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 26px; /* Adjusted font size */
    margin-top: 15px; /* Adjusted margin */
    color: #3498db; /* Blue color for headings */
}

p {
    font-size: 18px; /* Adjusted font size */
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #35424a;
    color: #fff;
}

/* Social Icons Styles */
.social-icons a {
    margin: 0 8px;
    color: #dbdee2;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 1200px) {
    .infoContainer {
        width: 90%;
        margin-left: 80px;
    }

    .sidebar {
        width: 160px;
    }
}

@media only screen and (max-width: 992px) {
    .infoContainer {
        width: 90%;
        margin-left: 20px;
    }

    .devInfo {
        margin-left: 20px;
    }

    .footer {
        padding: 20px;
        font-size: 14px;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
    }

    .sidebar nav a {
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: none;
    }

    .main {
        align-items: flex-start;
    }

    .infoContainer {
        width: 100%;
        margin-left: 20px;
    }

    .devInfo {
        margin-left: 20px;
    }

    .footer {
        padding: 10px;
        font-size: 12px;
    }
}
